$rarity: (
  "junk": #aaa,
  "basic": #000,
  "fine": #62a4da,
  "masterwork": #1a9306,
  "rare": #fcd00b,
  "exotic": #ffa405,
  "ascended": #fb3e8d,
  "legendary": #4c139d,
);

@each $rare, $col in $rarity {
  .border-#{$rare} {
    border-color: $col !important;
  }
}

.item-details {
  font-family: "Menomonia";
}

.item-img {
  max-height: 1em;
}

.item-img-sm {
  height: 40px;
  width: 40px;
  border: 2px solid white;
}
